certifi==2020.12.5
chardet==4.0.0
idna==2.10
python-dotenv==0.15.0
requests==2.25.1
semantic-version==2.8.5
git+https://github.com/georgestarcher/Splunk-Class-httpevent.git
urllib3==1.26.2
toml==0.10.2
tqdm==4.59.0
